<h2>Editer le livre {{book!.title}}</h2>
<form id="addForm" class="hide" (ngSubmit)="editBook(f)" #f="ngForm">
    <div class="mb-3">
        <label class="form-label">Titre*</label>
        <input type="text" class="form-control" name="title" id="title" #title="ngModel" [(ngModel)]="book!.title" required>
        @if (title.invalid && title.touched)
        {
            <br><span class="error">Ce champ est obligatoire !</span>
        }
    </div>
    <div class="mb-3">
        <label class="form-label">Auteur*</label>
        <input type="text" class="form-control" name="author" id="author" #author="ngModel" [(ngModel)]="book!.author" required>
        @if (author.invalid && author.touched)
        {
            <br><span class="error">Ce champ est obligatoire !</span>
        }
    </div>
    <div class="mb-3">
        <label class="form-label">Prix*</label>
        <input type="text" class="form-control" name="price" id="price" #price="ngModel" [(ngModel)]="book!.price" required>
        @if (price.invalid && price.touched)
        {
            <br><span class="error">Ce champ est obligatoire !</span>
        }
    </div>
    <button type="button" id="btnValidAdd" class="btn btn-primary mb-3" [disabled]="f.invalid">Valider</button>
    <div>* : Champs obligatoires</div>
</form>